<div class="hero-unit">
    <h1>欢迎来到John的博客</h1>
    <p>此博客是一个基于Node.js的博客系统</p>
    <p>
        <a class="btn btn-primary btn-large" href="/login">登录</a>
        <a class="btn btn-large" href="/reg">立即注册</a>
    </p>
</div>

<div class="row">
    <div class="span4">
        <h2>第一条</h2>
        <p>第一条内容</p>
    </div>
    <div class="span4">
        <h2>第二条</h2>
        <p>第二条内容</p>
    </div>
    <div class="span4">
        <h2>第三条</h2>
        <p>第三条内容</p>
    </div>
</div>